<div class="container mt-4">
  <h2>
    Asistentes de la reuni칩n: <%= @meet.nombre %>
  </h2>
  <h4>
    A침adir nuevo asistente
  </h4>
  <div class="assistants-form mb-4 w-75">
    <%= simple_form_for([@meet, @assistance], remote: true) do |f| %>
      <%= f.input :email, as: :email, label: "Correo del asistente" %>
      <%= f.button :submit, class:"btn btn-primary", value:"A침adir Asistente" %>
    <% end %>
  </div>
  <h4>
    Participantes en la reuni칩n <%= @meet.assistances.size %>
  </h4>
  <% if !@meet.assistances.blank? %>
    <ul>
      <% @meet.assistances.reverse.each do |assistance| %>
        <li id="assistance-<%= assistance.id %>"><%= assistance.email %> </li>
      <% end %>
    </ul>
  <% end %>
  <div class="assistants-list">
    <li class="d-none">
    </li>
  </div>
  <%= link_to "Finalizar registro", meet_path(@meet), class:"btn btn-secondary btn-end-process mt-2"  %>
</div>

