<div class="container mt-4">
  <h2>
    Ingresa los datos de la nueva reunión
  </h2>
  <%= simple_form_for @meet do |f| %>
    <%= f.input :nombre%>
    <%= f.input :tipo %>
    <%= f.input :fecha, as: :date, html5: true %>
    <%= f.input :lugar %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
