<div class="container mt-4">
  <div class="meet-grid">
    <div class="meeting-general-info">
      <div class="card mb-4 mt-4">
        <div class="card-body meet-description text-center">
          <h1>
            <%= @meet.nombre %>
          </h1>
          <h4>
            <%= @meet.tipo %>
          </h4>
          <h6>
            <%= @meet.fecha %>
          </h6>
          <h6>
            <%= @meet.lugar %>
          </h6>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body meet-notes">
          <h3>
            Notas de la reunión
          </h3>
          <%= simple_form_for @meet, remote: true do |f| %>
            <%= f.rich_text_area :notes, class:"mb-4" %>
            <%= f.button :submit, class:"btn btn-primary", value:"Añadir Notas" %>
          <% end %>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body meet-tasks">
          <h3 id="tasks-title">
            Tareas de la reunión
          </h3>
          <div class="assistants-form mb-4 w-75">
            <%= simple_form_for([@meet, @task], remote: true) do |f| %>
              <%= f.input :nombre, label: "Nombre de la tarea" %>
              <%= f.input :descripcion, label: "Descripcion" %>
              <%= f.input :fecha, as: :date, html5: true, label: "Fecha de entrega" %>
              <%= f.association :assistance, label: "Responsable", collection: Assistance.where(meet: @meet), label_method: :email, include_blank: true, selected: "blank" %>
              <%= f.button :submit, class:"btn btn-primary", value:"Añadir Tarea" %>
            <% end %>
          </div>
        </div>
      </div>
      <% if @meet.tasks.blank? %>
      <div class="card mb-4">
        <div class="card-body">
          Agrega la primera tarea la reunión
        </div>
      </div>
      <% else %>
        <div class="row">
          <% @meet.tasks.reverse.each do |task| %>
            <div class="col-xs-12 col-sm-6 d-flex align-items-stretch">
              <div class="card w-100 mb-2">
                <div class="card-body">
                  <div class="card-title">
                    <%= task.nombre %>
                  </div>
                  <div class="card-text">
                    <%= task.assistance.email %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="meeting-assistances mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            <h4>
              Asistentes de la reunión
            </h4>
          </div>
          <div class="card-text">
            <ul class="list-group list-group-flush text-center">
              <% @meet.assistances.each do |assistance| %>
                <li class="list-group-item pl-3 pr-3 pt-1 pb-1"><%= assistance.email %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
