<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Toma nota Actas Reuniones| Toma nota y delega las tareas que surgen de las reuniones.</title>
    <meta name="description" content="Ten trasabilidad de las reuniones y delega de forma sencilla con Microsoft planner las diferentes responsabilidades que fueron asignadas.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Seguimiento Reuniones">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#FDC3AB">
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
